@tailwind base;
@tailwind components;
@tailwind utilities;

.notyf__toast {
  margin-top: 0.5rem; /* default (mt-2) */
  max-width: fit-content !important;
}

@media (min-width: 640px) {
  .notyf__toast {
    margin-top: 1.5rem; /* sm:mt-6 */
  }
}

@media (min-width: 768px) {
  .notyf__toast {
    margin-top: 0.25rem; /* md:mt-1 */
  }
}

.notyf__ripple {
  width: 700px !important;
}

@font-face {
    font-family: header-font;
    src: url(../fonts/Inter_18pt-Bold.ttf) format('opentype');
}

.card-header{
  /* background-image : linear-gradient(to right, #082644, #2558ab); */
  background-image: url(../images/background.jpg);
  background-size: cover;
}

.track-name {
  background-image: linear-gradient(to right, #3b82f6, #9333ea);
}

.comment-background {
  background-image: linear-gradient(to right, #eff6ff, #f5f3ff);
}

.table-header-count {
  font-family: header-font;
}

/* index page slimselect2 styles */

.ss-main {
  background-color: rgb(249 250 251) !important;
  border: 1px solid rgb(209 213 219) !important;
  border-radius: 0.5rem !important;
  padding: 0.625rem !important;
}

.ss-content .ss-search input:focus {
   box-shadow:none !important;
}

.ss-main:focus-within {
  box-shadow: none !important;
}
.ss-main .ss-single-selected {
  padding: 0 !important;
  height: auto !important;
}
.ss-main .ss-single-selected .ss-arrow {
  margin: 0 !important;
}
.ss-content {
  border: 1px solid rgb(209 213 219) !important;
  border-radius: 0.5rem !important;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1) !important;
  -webkit-overflow-scrolling: touch; /* smooth scroll on iOS */
}

.ss-option.ss-selected {
  display: none !important;
}