@tailwind base;
@tailwind components;
@tailwind utilities;

.notyf__toast {
  margin-top: 0.5rem; /* default (mt-2) */
  max-width: fit-content !important;
}

@media (min-width: 640px) {
  .notyf__toast {
    margin-top: 1.5rem; /* sm:mt-6 */
  }
}

@media (min-width: 768px) {
  .notyf__toast {
    margin-top: 0.25rem; /* md:mt-1 */
  }
}

.notyf__ripple {
  width: 700px !important;
}

.card-header{
  background-image : linear-gradient(to right, #082644, #2558ab);
}

.track-name {
  background-image: linear-gradient(to right, #3b82f6, #9333ea);
}

.comment-background {
  background-image: linear-gradient(to right, #eff6ff, #f5f3ff);
}
